body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
  }

  .back-button {
    margin: 10px 0;
    text-align: left;
  }
  
  .btn-back {
    display: inline-block;
    padding: 10px 15px;
    background-color: #000000;
    color: #b74b4b;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .btn-back:hover {
    background-color: #333;
  }
  
  
  .dashboard {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #020202;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #b74b4b;
  }
  
  .chart-container {
    position: relative;
    height: 400px;
    width: 100%;
  }