/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

/* Navbar */
.navbar {
    background: linear-gradient(135deg, #333, #b74b4b);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    color: white !important;
}

.navbar-nav .nav-link {
    font-size: 1.1em;
    font-weight: bold;
    color: white !important;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: black !important;
}

.navbar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

/* Hero Section */
.hero-section {
    background: linear-gradient(135deg, #333, #b74b4b);
    color: white;
    padding: 60px 20px;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 40px;
}

.hero-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2em;
    line-height: 1.5;
}

/* Kolom Selamat Datang */
.container {
    background: linear-gradient(135deg, #333, #b74b4b);
    padding: 20px;
    border-radius: 8px;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Buttons */
.add-button {
    background-color: #b74b4b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #8c3434;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    margin-top: 40px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-section h2 {
        font-size: 2em;
    }

    .hero-section p {
        font-size: 1em;
    }

    .navbar-nav .nav-link {
        font-size: 1em;
    }
}
